

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: bold 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:24px 160px;
   

}
.nav-title{
    font-weight: bold;
    font-size:32px;
}
nav ul li{
    list-style: none;
}
.btn-primary{
   font-weight: bold;
   color:#006A50 ;
   border-color:#006A50;
   border-radius: 8px;
   padding: 10px 30px;
}
.btn-secondary{
    font-weight: bold;
    color: white;
    border-color: #006A50;
    background-color:#006A50;
    border-radius: 8px;
    padding: 17px 34px;
}
/* Banner styles */
.banner{
background-color:#C6E4D6 ;
display: flex;
justify-content: space-between ;
width: 1400px;
height: 500px;
border-radius: 8px;
margin: auto;
/* background-position: right; */

}
.banner-content{
  max-width:700px;
    height: 340px;
    margin:120px 60px  550px; 
    
}
.image-1{
    width: 474px;
    height: 400px;
   margin: 80px 60px 746px;
}
.banner-discription{
    color:grey ;
    font-size: medium;
}



/* main styles */

 main{
    max-width: 1200px;
    margin: 110px ;
    align-items: center;
    /* padding: 60px 80px 60px 80px; */
} 

/* pillars  styles*/

.text-center{
    display: flex;
    margin:24px  160px; 
    text-align: justify;
    
}
.pillars-container{
display: flex;
gap: 54px;
height: 340px;
margin: auto;
 max-width: 1380px;
}


.pillars-of-bd{
   
    height: 300px;
    width: 1200px;
  display: flex;
  justify-content: center;
 flex-wrap: wrap;
   margin: 120px;
 }  
.pillar{
    padding: 10px ;
    box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);
    border-radius: 16px;
    padding: 24px;
    width: 302px;
    height: 244px;
    
}

/* vision styles */


.vision-container{
    display: flex;
    width: 1280px;
    height: 477px;
    padding: 0;
    gap: 100px;
    margin:20px 50px 20px 50px;
    justify-content: center;
    align-items: center;

   
    
}
.vision-1{
    width: 450px;
    height: 300px;
    padding: 22px;
    background-color: rgb(176, 209, 236);
    border-radius:16px ;
    box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);

}
.btn-1{
    color: white;
    background-color:#5490F5 ;
    border-color: #5490F5;
    border-radius: 8px;
}
.vision-2{
    width: 450px;
    height: 300px;
    padding: 22px;
    background-color:#C6E4D6 ;
    border-radius:16px ;
     box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);
}
.btn-2{
    color: white;
    background-color:#09A15C ;
    border-color:#09A15C ;
    border-radius: 8px;
}
.vision-3{
    width: 450px;
    height: 300px;
    padding: 22px;
    background-color:#F7EBCF ;
    border-radius:16px ;
    box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);
}
.btn-3{
    color: white;
    background-color:#FFC239 ;
    border-color:#FFC239 ;
    border-radius: 8px;
}
.vision-future{
    /* padding: 50px; */
    margin-left: 20px
}

/* comment styles */
.comment{
    color: #0E0E0E;
}
.comment-container{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);
    border-radius: 16px;
    width: 1280px;
    height: 256px;
    padding: 24px;
    margin: 160px 973px 160px 80px;
}

/* opinion styles */
h2{
    margin-left: 56px;
}

.opinion-container{
    width: 1280px;
    height: 481px;
    margin-left: 32px;
}
table{
    width: 1216px;
    height: 345px;
    border-collapse: collapse;
    box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);
    margin: 32px;
}
th, td{
    border: 2px solid gray;
    padding:10px ;
    text-align: left;
    
}
th{
    background-color: #C6E4D6;
}
select{
    padding: 14px;
    border-radius: 4px;
    background-color: #C6E4D6;

}

/* recent news */
.recent-news{

    margin-left: 5px;
}
.news-description{
    color:#434242;
    margin-left: 60px;
    
}
.card{
    display: flex;
     justify-content: space-around;
     
     gap: 32px;
    width:1280px ;
    height: 402px;
    border-radius: 24px;
    border: 2px solid gray;
    /* overflow: hidden; */
    margin-left: 45px;
}
.earth-1{
   display: flex;
   width: 408px;
   height: 306px;
   padding: 38px ;
   border-radius: 24px;
   
}
.earth-2{
    display: flex;
    float: right;
    width: 408px;
    height: 306px;
    padding: 38px ;
    border-radius: 24px;
    
 }


.news{
    justify-content: space-between;
    width: 744px;
    height: 50px;
    gap: 12px;
}
.aj{
    width: 134px;
    height: 40px;
    margin:5px 10px 5px;
}
.aj-description{
    width: 744px;
    height: 72px;
    line-height: 24px;
    text-align:justify;
   margin-right: 30px;
}

.btn-third{
    margin-top: 70px;
    height: 48px;
    width: 139px;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border-color: #006A50;
}


/* donate */
.dt{
    
    margin-left: 40px;
    margin-top: 60px;
    width: 1280px;
    height: 464px;
    border-radius: 16px;
    box-shadow: 0px 6px 50px  0px rgb(221, 217, 217);
}
.donate{
    
    width: 1280;
    height: 48;
    
}
.btn-container{
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.donation-button{
   
    font-size: larger;
    font-weight:500;
    width: 360px;
    height: 98px;
    gap: 40px;
    /* margin-left:105px ; */
    margin-right: 24px;
    background-color:white ;
    border: none;
    /* padding: 15px 30px; */
    border-radius: 8px;
    /* font-weight: bold; */
    box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);
    
}
.done{
    margin-top: 70px;
    height: 48px;
    width: 139px;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border-color: #006A50;
    margin-left: 700px;
}
.other-ammount{
    font-size: larger;
    font-weight:500;
    width: 1217px;
    height: 68px;
    /* margin-left:50px ; */
    background-color:white ;
    border:1px solid #999;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 6px 50px  0px rgb(179, 177, 177);
}
.donate-description{
    /* margin-left: 50px; */
    text-align: center;
}

/* Subscribe Newsletter */
.letter{
    margin-left: 300px;
    text-align: center;
}
.banner-2{
  
    background-color:#C6E4D6 ;
    display: flex;
    justify-content: space-between ;
    width: 1200px;
    height: 350px;
    border-radius: 8px;
    margin: auto;
    /* background-position: right; */
}
.letter-description{
    margin-left:  100px;
    
    
}

.btn-4{
    width: 750px;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px ;
    margin: 60px;
    margin-left:170px ;
}
.subscribe-btn{
    /* margin-top: 70px; */
    height: 80px;
    width: 200px;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border-color: #006A50;
    border: none;
}
.email-btn{
    height: 75px;
    width: 900px; 
    border: none;
}
.footer{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.icon{
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
}