

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: bold 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:24px 160px 1324px  ;
   

}
.nav-title{
    font-weight: bold;
    font-size:32px;
}
nav ul li{
    list-style: none;
}
.btn-primary{
   font-weight: bold;
   color:#006A50 ;
   border-color:#006A50;
   border-radius: 8px;
   padding: 10px 30px;
}
.btn-secondary{
    font-weight: bold;
    color: white;
    border-color: #006A50;
    background-color:#006A50 ;
    border-radius: 8px;
    padding: 17px 34px;
}
/* Banner styles */
.banner{
background-color:#C6E4D6 ;


}
.banner-content{
   
    
}
.image-1{
    max-width: 300px;
    height: auto;
    margin-left: 20px;
}
.banner-discription{
    color:grey ;
    font-size: medium;
}